
body {
  margin: 0;
  padding: 0;
}



.header {
  width: 100%;
    background-color:#FFB6C1 ;
}

.nav {
  display: flex;
  justify-content: space-between; 
  padding: 20px 40px;
}



    .nav-brand {
    text-decoration: none;  
    color: #000;
    font-size: 62px;
    font-weight: bold;
} 



.nav-brand:hover{
color: #8B0000;
}


.nav-links{
    list-style:none;
    text-decoration: none;
    display: flex;
    gap: 20px;
    font-size: 28px;
}


.nav-links a {
text-decoration: none;
}

.nav-links a:hover{
 color:#FFFF00 ;
}
.nav-icons {
  display: flex;
  align-items: center;
  gap: 20px;
}

.search-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.search-container:focus-within .search-icon{
   color:#000000;
   transform: scale(1.1);
}


.search-input {
  width: 200px;
  height: 36px;
  padding: 0 12px;
  font-size: 16px;
}
.search-input:focus{
    border-color: #000000;
    box-shadow: 0 0 2px #000000;
    outline: none;
}



.search-icon{
    font-size:30px;
}



.cart-icon {
    position: relative;
    display: inline-block;
}

 .cart-icon .fa-cart-shopping{
    font-size: 32px;
 }

.cart-count {
    position: absolute;
    top: -8px;
    right: -10px;
    background: red;
    color: white;
    font-size: 12px;
    padding: 2px 6px;
    border-radius: 50%;
}

.hero{
    display: flex;
    background-image: url("assets/jewels.jpg");
    background-position: center left;
    background-repeat: no-repeat;  
    height: 80vh;
}

.hero-image { 
    background-image: url("assets/jewels.jpg");
    }

    .hero-content { 
        display: flex; 
        flex-direction: column; 
        justify-content: center; 
        padding: 40px; 
        color: white; 
    }



.products-section{
  background-color: #808080;
  padding: 40px 30px;
}

.products-container{
  display: grid;
  gap:30px;
  grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
}



.product-card{
  background: #ffffff;
  padding: 45px 45px;
}

.page-header{
  text-align: center;
  margin-bottom: 22px;
}

.products-section{
  text-align: center;
  font-size: 23px;
}

.product-image{
  width: 100%;
  display: block;
}